/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	color: #567865;	
}

footer {
  position:   fixed;
  bottom:     0px;
  min-height: 50px;
  width:      100%;
  text-align: center;
  background-color: #457546;
  color: blue;
}


.index-intro{
  color:blue;
  font-family: verdana;
  font-size: 300%;
}
.index-footer{
  background:#453e50;
  color:blue;
}
.index-footer-row{
  margin-left:-70px;
  padding-top:20px;
}

.index-nav{
  background:#453e50;border:10px;border-radius:10px; height:70px;
}

.nav-header{
  margin-left: 20px;
  color:orange;font-size: 30px;height:20px;
}

.sign{
  font: bold 30px vendor;
  text-decoration:none;
  background-color: #96C8A2;
  color: #674388;
  padding: 2px 6px 2px 6px;
  border-top: 1px inset #CCCCCC;
  border-right: 1px inset #333333;
  border-bottom: 1px inset #333333;
  border-left: 1px inset #3CCCCC;
  border-radius: 20px;
  float:right;
  margin-right: 30px;
  margin-top: 10px;
}

.body-container{
  margin-top:-10px;margin-bottom:70px;
}